In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [18]:
# download data from FAO
df = pd.read_csv('Trade_CropsLivestock_E_All_Data_(Normalized)/Trade_CropsLivestock_E_All_Data_(Normalized).csv',encoding='windows-1252')
trade_agg = pd.read_csv('Trade_CropsLivestock_E_All_Data_(Normalized)/Trade_CropsLivestock_E_ItemCodes.csv',encoding='windows-1252')
# the downloaded data has been modified by adding Item Group Columns
trade_agg = trade_agg[~trade_agg['Item Group'].isnull()]
df = df[df['Unit'] != 'No']
df = df[df['Item Code'].isin(trade_agg['Item Code'])]
df

C:\Users\panda\AppData\Local\Temp\ipykernel_23100\2322244744.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Trade_CropsLivestock_E_All_Data_(Normalized)/Trade_CropsLivestock_E_All_Data_(Normalized).csv',encoding='windows-1252')

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
424620,261,'097.1203,European Union (12) (excluding intra-trade),1944,'F1944,Cereals,5610,Import Quantity,1994,1994,t,5243008.85,E,NaN
424883,261,'097.1203,European Union (12) (excluding intra-trade),1944,'F1944,Cereals,5622,Import Value,1994,1994,1000 USD,1242758.00,E,NaN
425172,261,'097.1203,European Union (12) (excluding intra-trade),1944,'F1944,Cereals,5910,Export Quantity,1994,1994,t,18803460.50,E,NaN
425435,261,'097.1203,European Union (12) (excluding intra-trade),1944,'F1944,Cereals,5922,Export Value,1994,1994,1000 USD,2183618.00,E,NaN
426276,261,'097.1203,European Union (12) (excluding intra-trade),1941,'F1941,Cereal preparations total,5610,Import Quantity,1994,1994,t,288425.00,E,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16044892,5000,'001,World,1902,'F1902,Crude Materials nes,5922,Export Value,2018,2018,1000 USD,45927272.95,A,NaN
16044893,5000,'001,World,1902,'F1902,Crude Materials nes,5922,Export Value,2019,2019,1000 USD,45638947.16,A,NaN
16044894,5000,'001,World,1902,'F1902,Crude Materials nes,5922,Export Value,2020,2020,1000 USD,44991756.46,A,NaN
16044895,5000,'001,World,1902,'F1902,Crude Materials nes,5922,Export Value,2021,2021,1000 USD,53385112.23,A,NaN
16044896,5000,'001,World,1902,'F1902,Crude Materials nes,5922,Export Value,2022,2022,1000 USD,54894641.00,A,NaN

In [16]:
trade = pd.read_excel('DataDict.xlsx')
trade

,Variable,Table,Group,SubGroup,Series,CoVaTrA,Cohort,Definition,Extended Source Defn,Units,...,UsedInPreprocessor,UsedInPreprocessorFileName,CompareOtherForecast,Code in Source,Decimal Places,Country Concordance,Formula,DisplayNotes,Item Group,Element Code
0,AgCropExportQuantityFAOTrade,SeriesAgCropExportQuantityFAOTrade,"Agriculture, Trade",Trade,Yes,No,No,Quantity of Crops exported (Tonnes) from FAO T...,Quantity of crops exported (Tonnes) from FAO T...,Tonnes,...,1,AGRI,0,NaN,4,IFS Countries Old,NaN,NaN,Crops,5910
1,AgCropImportQuantityFAOTrade,SeriesAgCropImportQuantityFAOTrade,"Agriculture, Trade",Trade,Yes,No,No,Quantity of Crops Imported (Tonnes) from FAO T...,Quantity of crops imported (Tonnes) from FAO T...,Tonnes,...,1,AGRI,0,NaN,4,IFS Countries Old,NaN,NaN,Crops,5610
2,AgMeatExportQuantityFAOTrade,SeriesAgMeatExportQuantityFAOTrade,"Agriculture, Trade",Trade,Yes,No,No,Quantity of meat exported (Tonnes) from FAO Tr...,Quantity of meat exported (Tonnes) from FAO Tr...,Tonnes,...,1,AGRI,0,NaN,4,IFS Countries Old,NaN,NaN,Meat,5910
3,AgMeatImportQuantityFAOTrade,SeriesAgMeatImportQuantityFAOTrade,"Agriculture, Trade",Trade,Yes,No,No,Quantity of Meat Imported (Tonnes) from FAO Tr...,Quantity of meat imported (Tonnes) from FAO Tr...,Tonnes,...,1,AGRI,0,NaN,4,IFS Countries Old,NaN,NaN,Meat,5610
4,AgCropExportValue%GDPFAOTrade,SeriesAgCropExportValue%GDPFAOTrade,"Agriculture, Trade",Trade,Yes,No,No,Value of Crops exported as a percent of GDP fr...,value of crops exported (1000$ US) from FAO Tr...,Percent,...,1,AGRI,0,NaN,4,FAO Countries,NaN,NaN,Crops,5922
5,AgCropImportValue%GDPFAOTrade,SeriesAgCropImportValue%GDPFAOTrade,"Agriculture, Trade",Trade,Yes,No,No,Value of Crops Imported as a percent of GDP fr...,value of crops imported (1000$ US) from FAO Tr...,Percent,...,1,AGRI,0,NaN,4,FAO Countries,NaN,NaN,Crops,5622
6,AgMeatExportValue%GDPFAOTrade,SeriesAgMeatExportValue%GDPFAOTrade,"Agriculture, Trade",Trade,Yes,No,No,Value of meat exported as a percent of GDP fro...,Value of meat exported (1000$ US) from FAO Tra...,Percent,...,1,AGRI,0,NaN,4,FAO Countries,NaN,NaN,Meat,5922
7,AgMeatImportValue%GDPFAOTrade,SeriesAgMeatImportValue%GDPFAOTrade,"Agriculture, Trade",Trade,Yes,No,No,Value of Meat Imported as a percent of GDP fro...,Value of meat imported (1000$ US) from FAO Tra...,Percent,...,1,AGRI,0,NaN,4,FAO Countries,NaN,NaN,Meat,5622

In [26]:
# download from WDI
gdp = pd.read_excel('API_NY.GDP.MKTP.CD_DS2_en_excel_v2_42476.xls', 
                    sheet_name='Data',
                    skiprows=3)
gdp = gdp.drop(columns=['Country Code',
                        'Indicator Name',
                        'Indicator Code'])
country_wdi = pd.read_excel('Country.xlsx',
                            sheet_name= 'WDI')

gdp = gdp.set_index('Country Name')
gdp = pd.DataFrame(gdp.stack(dropna = False), 
                  columns = ['gdp']).reset_index().rename(columns={'level_1':'Year'})
gdp = country_wdi.merge(gdp, 
                        # left_on='Country_WDI',
                        on='Country Name',
                        how = 'left')
gdp = gdp.drop(columns=['Country Name'])
gdp.gdp = gdp.gdp.apply(pd.to_numeric, errors='coerce')
gdp.Year = gdp.Year.apply(pd.to_numeric, errors='coerce')
gdp

           Country FIPS_CODE    Year           gdp
0      Afghanistan       AFG  1960.0  5.377778e+08
1      Afghanistan       AFG  1961.0  5.488889e+08
2      Afghanistan       AFG  1962.0  5.466667e+08
3      Afghanistan       AFG  1963.0  7.511112e+08
4      Afghanistan       AFG  1964.0  8.000000e+08
...            ...       ...     ...           ...
11901     Zimbabwe       ZWE  2019.0  2.183223e+10
11902     Zimbabwe       ZWE  2020.0  2.150970e+10
11903     Zimbabwe       ZWE  2021.0  2.837124e+10
11904     Zimbabwe       ZWE  2022.0  2.736663e+10
11905     Zimbabwe       ZWE  2023.0           NaN

[11906 rows x 4 columns]

In [29]:
country = pd.read_excel('Country.xlsx')

In [34]:
for group in trade_agg['Item Group'].unique():
    dd = trade[trade['Item Group'] == group]
    agg = trade_agg[trade_agg['Item Group'] == group]
    dt = df[df['Item Code'].isin(agg['Item Code'])]
    for j in dd.index:
        # if 'Value' not in dd.loc[j,'Variable']:
        v = dd.loc[j,'Variable']
        m = int(dd.loc[j,'Element Code'])
        if dd.isnull().loc[j,'Decimal Places']:
            d = dd.loc[j,'Decimal Places']
        else:
            d = int(dd.loc[j,'Decimal Places'])
        dt1 = dt[dt['Element Code'] == m]
        dt1 = dt1[['Area','Year','Value']]
        dt1.Year = dt1.Year.apply(pd.to_numeric, errors='coerce')
        dt1 = dt1.groupby(['Area','Year']).sum(min_count=1).reset_index()
        if 'Value' not in dd.loc[j,'Variable']:
            print(v)
            if dd.isnull().loc[j,'Decimal Places']:
                dt1 = dt1
            else:
                dt1.Value = round(dt1.Value, d)
        else:
            print(v)
            dt1.Value = dt1.Value*1000
            dt1 = country.merge(dt1,
                    on = 'Area',
                    how = 'left')
            dt1 = dt1.merge(gdp,
                            on = ['Country', 'FIPS_CODE','Year'],
                            how = 'left'
                            )
            if dd.isnull().loc[j,'Decimal Places']:
                dt1 = dt1
            else:
                dt1['val'] = round(dt1['Value']/dt1['gdp']*100,d)
            dt1 = dt1[['Area','Year','val']].rename(columns={'val':'Value'})

        dt1 = country.merge(dt1,
                        on = 'Area',
                        how = 'left')
        dt1.drop(columns='Area', inplace = True)

        first_last = dt1.sort_values(['Country','Year']).groupby(dt1['Country'])['Value'] \
            .agg(['first', 'last']).reset_index()
        first_last = first_last.rename(columns={"first": "Earliest", "last": "MostRecent"})
        dt1.Year = dt1.Year.astype("Int64")

        dt1 = dt1.groupby(['Country','Year']).sum(min_count=1).reset_index()

        dt1 = dt1.pivot_table(index = 'Country',
                    columns='Year',
                    values = 'Value').reset_index()
        dt1 = dt1.merge(first_last,
                        on = 'Country',
                        how = 'left'
                        )
        dt1 = country.merge(dt1,
                        on = 'Country',
                        how = 'left')
        dt1.drop(columns='Area', inplace = True)
        dt1.dropna(axis = 0, how = 'all', inplace=True)
        dt1 = dt1.drop_duplicates(ignore_index=True)
        dt1 = dt1.sort_values(by='Country')
        dt1 = dt1.set_index(['Country','FIPS_CODE'])
        dt1 = dt1.apply(lambda x: pd.Series.round(x, d))
        # dt1.to_csv(f'IFs Import/{v}.csv',
        #             #  index=False
        #              )
dt1

AgCropExportQuantityFAOTrade
AgCropImportQuantityFAOTrade
AgCropExportValue%GDPFAOTrade
AgCropImportValue%GDPFAOTrade
AgMeatExportQuantityFAOTrade
AgMeatImportQuantityFAOTrade
AgMeatExportValue%GDPFAOTrade
AgMeatImportValue%GDPFAOTrade

,,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2015,2016,2017,2018,2019,2020,2021,2022,Earliest,MostRecent
Country,FIPS_CODE,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,0.0180,0.0399,0.0126,0.0259,0.0412,0.0279,0.0085,0.0144,0.0465,0.0145,...,1.1516,1.2852,1.1708,1.3269,1.0921,0.8888,1.1428,NaN,0.0180,1.1428
Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.6333,0.5835,0.3798,0.3018,0.3257,0.5452,0.4639,1.2673,0.5433,1.2673
Algeria,DZA,3.3809,3.1884,1.7130,1.4631,1.2300,1.2268,1.0427,0.8262,0.7972,0.7358,...,0.8884,0.7896,0.9709,1.0142,0.9290,1.1863,0.9897,1.1174,3.3809,1.1174
Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.9759,1.2963,1.1865,1.0231,1.1176,1.0417,0.8099,0.7409,1.7345,0.7409
Argentina,ARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0384,0.0477,0.0509,0.0713,0.0662,0.0679,0.0710,0.0648,0.0268,0.0648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Venezuela, Bolivarian Republic",VEN,0.8177,0.6465,0.5780,0.5547,0.5290,0.2957,0.3271,0.2708,0.3228,0.2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8177,0.7509
Viet Nam,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.6124,0.5379,0.5594,0.6156,0.6551,0.6956,0.7342,0.8898,0.0483,0.8898
Yemen,YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.9061,1.0383,1.1687,0.9611,NaN,NaN,NaN,NaN,0.8178,0.9611
Zambia,ZMB,0.6598,0.6628,0.6253,0.5213,0.4567,0.6071,0.6040,0.6657,0.6092,0.7033,...,0.1654,0.1652,0.1543,0.2019,0.2299,0.2730,0.2768,0.2808,0.6598,0.2808
Zimbabwe,ZWE,0.1116,0.1072,0.1185,0.2029,0.1511,0.1517,0.0651,0.0696,0.0669,0.0663,...,0.2231,0.1517,0.1735,0.1390,0.1015,0.1187,0.2295,0.2178,0.1116,0.2178